{% extends "base.html" %}

{# 存档模块的二级导航骨架（文档 11 第 3.2 节）。五个列表页都继承本模板。 #}
{% block subnav %}
<div class="bg-white border-bottom">
  <div class="container-fluid px-4">
    <ul class="nav nav-pills py-2 gap-1">
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'save_rockets' %}active{% endif %}"
           href="{% url 'ops:save_rockets' save.pk %}">火箭</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'save_payloads' %}active{% endif %}"
           href="{% url 'ops:save_payloads' save.pk %}">载荷</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'save_sites' %}active{% endif %}"
           href="{% url 'ops:save_sites' save.pk %}">发射场</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'save_spacecraft' %}active{% endif %}"
           href="{% url 'ops:save_spacecraft' save.pk %}">航天器</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'save_flights' %}active{% endif %}"
           href="{% url 'ops:save_flights' save.pk %}">发射日志</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
